body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
    color: #333;
}

/* Centrer l'image */
img {
    display: block;
    margin: 20px auto;
    max-width: 80%; /* Optionnel : ajuster la taille maximale de l'image */
    height: auto;   /* Maintenir les proportions */
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    background-color: #fff;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Ajouter des couleurs conditionnelles pour les lignes */
tr.positive {
    background-color: #d4edda; /* Vert clair */
}

tr.negative {
    background-color: #f8d7da; /* Rouge clair */
}
