<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performance Boursière</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/toggle-dark-mode.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/sorting.js') }}" defer></script>

</head>
<body class="{{ 'dark-mode' if session.get('dark_mode') else '' }}">
    <h1>Performances Boursières des Grandes Entreprises</h1>

    <!-- Barre de bascule pour le mode sombre -->
    <div id="dark-mode-toggle" class="toggle">
        <span class="toggle-label">🌞</span>
        <div class="toggle-slider">
            <span class="toggle-thumb"></span>
        </div>
        <span class="toggle-label">🌙</span>
    </div>

    <!-- Tableau des indicateurs financiers -->
    <table border="1" id="tableau-indicateurs">
        <thead>
            <tr>
                <th data-column="nom" class="sortable">Entreprise<span class="sort-indicator"></span></th>
                <th data-column="prix_moyen_ouverture" class="sortable">Prix Moyen Ouverture<span class="sort-indicator"></span></th>
                <th data-column="prix_moyen_fermeture" class="sortable">Prix Moyen Fermeture<span class="sort-indicator"></span></th>
                <th data-column="volatilite_moyenne" class="sortable">Volatilité Moyenne<span class="sort-indicator"></span></th>
                <th data-column="volume_moyen" class="sortable">Volume Moyen<span class="sort-indicator"></span></th>
                <th data-column="tendance_globale" class="sortable">Tendance Globale<span class="sort-indicator"></span></th>
                <th data-column="rendement_moyen_journalier" class="sortable">Rendement Moyen Journalier<span class="sort-indicator"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for indicateur in indicateurs %}
            <tr>
                <td>{{ indicateur.nom }}</td>
                <td>{{ indicateur.prix_moyen_ouverture | round(2) }}</td>
                <td>{{ indicateur.prix_moyen_fermeture | round(2) }}</td>
                <td>{{ indicateur.volatilite_moyenne | round(2) }}</td>
                <td>{{ indicateur.volume_moyen | round(2) }}</td>
                <td>{{ indicateur.tendance_globale | round(2) }}</td>
                <td>{{ indicateur.rendement_moyen_journalier | round(2) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Conteneur pour le graphique et les actualités -->
    <div class="container">
        <!-- Affichage du graphique -->
        <div class="graphic-container">
            {% if graphique %}
                <img src="{{ url_for('static', filename=graphique['light']) }}" alt="Volume Total" class="light-mode-image">
                <img src="{{ url_for('static', filename=graphique['dark']) }}" alt="Volume Total" class="dark-mode-image">
            {% else %}
                <p>Le graphique n'a pas pu être généré.</p>
            {% endif %}
        </div>

        <!-- Affichage des actualités -->
        <div class="news-table-container">
            <h2>Actualités Financières</h2>
            <table border="1" class="news-table">
                <thead>
                    <tr>
                        <th>Entreprise</th>
                        <th>Date de l'article</th>
                        <th>Actualités</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entreprise in entreprises %}
                        {% if entreprise.nom in actualites %}
                            {% for actualite in actualites[entreprise.nom] %}
                                <tr>
                                    <td>
                                        <a href="{{ actualite.URL }}" target="_blank">{{ entreprise.nom }}</a>
                                    </td>
                                    <td>
                                        <p><strong>{{ actualite.PublishedAt }}</strong></p>
                                    </td>
                                    <td>
                                        <p>{{ actualite.Description }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3">Aucune actualité disponible pour {{ entreprise.nom }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
