<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performance Boursière</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/toggle-dark-mode.js" defer></script>
</head>
<body>
    <h1>Performances Boursières des Grandes Entreprises</h1>

    <!-- Barre de bascule pour le mode sombre -->
    <div id="dark-mode-toggle" class="toggle">
        <span class="toggle-label">🌞</span>
        <div class="toggle-slider">
            <span class="toggle-thumb"></span>
        </div>
        <span class="toggle-label">🌙</span>
    </div>

    <!-- Affichage du tableau -->
    <table border="1">
        <thead>
            <tr>
                <th>Entreprise</th>
                <th>Prix Moyen Ouverture</th>
                <th>Prix Moyen Fermeture</th>
                <th>Volatilité Moyenne</th>
                <th>Volume Moyen</th>
                <th>Tendance Globale</th>
                <th>Rendement Moyen Journalier</th>
            </tr>
        </thead>
        <tbody>
            {% for indicateur in indicateurs %}
            <tr class="{% if indicateur.rendement_moyen_journalier > 0 %}positive{% else %}negative{% endif %}">
                <td>{{ indicateur.nom }}</td>
                <td>{{ indicateur.prix_moyen_ouverture | round(2) }}</td>
                <td>{{ indicateur.prix_moyen_fermeture | round(2) }}</td>
                <td>{{ indicateur.volatilite_moyenne | round(2) }}</td>
                <td>{{ indicateur.volume_moyen | round(2) }}</td>
                <td>{{ indicateur.tendance_globale | round(2) }}</td>
                <td>{{ indicateur.rendement_moyen_journalier | round(2) }}</td>
            </tr>
            {% endfor %}
        </tbody>        
    </table>

    <!-- Affichage du graphique -->
    <h2>Volume Total des Échanges</h2>
    <img src="{{ url_for('static', filename=graphique) }}" alt="Volume Total">
</body>
</html>
